/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400;500;700&display=swap');

    /* Root Styling */

:root {

/* color */

    --bg-base: #94618E;
    --bg-dark-base: #49274A;
    --bg-off-base: #F4DECB;
    --bg-light-off: #F8EEE7;

/**typography**/

    --ff-righteous:'Righteous', cursive;
    --ff-reem: 'Reem Kufi Fun', sans-serif;

  /**font size **/

/**30px**/

    --fs-1: 1.875rem;
    --fs-2: 1.5rem;
    --fs-3: 1.375rem;
    --fs-4: 1.125rem;

/**14px**/

    --fs-5: 0.875rem;
    --fs-6: 0.813rem;
    --fs-7: 0.75rem;

    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

/**transition**/

    --transition: 0.25s ease;

}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-reem);
    background-color: var(--bg-off-base);
    overflow-x: auto;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-righteous);
}

p {
    font-family: var(--ff-reem);
    margin: 0 !important;
    padding: 0 !important;
}
i {
    display: block !important;
}
button {
    border: none;
    outline: none;
    background: none;
}

/* Navigation Bar */

.navigation-container{
    background-color: var(--bg-dark-base);
    width: 100%;
    height: 100%;
    margin-top: 1px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-toggler{
    background-color: var(--bg-light-off);
}
.anchored-link-button{
    border: none;
}
.anchored-link{
    color: white;
    transition: .5s;
    text-decoration: none;
}
/* Anchored Link - 760 Monitor*/
@media only screen and (max-width:760px){
    .anchoredLinks button{
        padding: 0px;
        display: block;
        float: left;
    }
    .anchoredLinks a{
        display: block;
        float: left;
    }
}
.anchoredLinks a{
    color: white;
    transition: .5s;
}
/* Anchored Link - Hover*/
.anchoredLinks a:hover{
    color: var(--bg-base);
}
.searchBar input[type=text] {
  width: 100%;
  padding: 6px;
  border: none;
  border-radius: 50px;
  font-size: 17px;
}
.user-icon-btn{
  border: none;
  width: 100%;
  margin: auto;
}
.user-icon{
  color: white;
  font-size: 27px;
}
/* Navigation Bar Css - 760 Monitor*/
@media only screen and (max-width:760px){
  .searchBar input[type=text] {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: auto;
    width: 100%;
}
.user-icon-btn{
    align-items: center;
    display: flex;
    border: none;
    width: 0%;
    margin: 0px;
    float: left !important;
}
}

/* -------------- */

/* About Us Container */

.container-about {
  margin-top: 30px;
  width: auto;
  height: auto;
  background: var(--bg-off-base);
  border-radius: 10px;
}
.about-container h1{
  padding-top: 5rem;
  text-align: center;
  color: var(--bg-black);
}
.about-container p{
  padding-top: 5rem;
  text-align: justify;
  color: var(--bg-black);
}
.about-container .row {
  text-align: center;
  padding-top: 4rem;
  color: black;
}
.about-img-container {
  padding: 15px;
}
.about-img-container img{
  margin:auto;
  border-radius: 10px;
}
.mc-container{
    padding: 0.5rem 1rem;
    display: grid;
    place-items: center;
    /* position: relative; */
}
.mc-container p{
color: var(--bg-white);
}
.about-img1{
  text-align: center;
  background-color: var(--bg-base);
  color: white  ;
  border-radius: .8rem;
  padding: 1rem 5px;
  width: 200px;
  position: relative;
  box-shadow: .1rem .2rem .1rem #2d2d2db0;
  overflow: hidden;
  z-index: 2;
}
.about-img1 img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  z-index: 5;
  position: relative;
  margin: auto  !important;
}
.about-img1 #letter1 {
  color: #2e2a2a83;
  font-weight: 700;
  font-size: 15rem;
  position: absolute;
  top: -5rem;
  right: -5rem;
  z-index: 1;
  -webkit-background-clip: text;
/* -webkit-text-fill-color: transparent;   */
  font-family: var(--ff-roboto);
}
.test-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  color: var(--bg-white);
  border: 1px solid var(--bg-white);
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 3px var(--bg-white);
}
.test-container p {
  border: 1px solid var(--bg-black);
  color: var(--bg-white);
}
.test-img {
  width: 100px;
  height: 100px;
  clip-path: circle();
  float: right;
}
.name-image {
	display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contact-section {
  background-color: var(--bg-base);
}
.contact-container{
  background-color: var(--bg-dark-base);
  padding: 20px;
}
.contact-container label{
  color: white;
}
.submit-btn{
  border: none;
  background-color: white;
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
}
.submit-btn:hover{
  border: none;
  background-color: var(--bg-base);
  color: white;
}

/* -------------- */

/* Footer Section CSS */

.footer-section{
  margin-top: 20px;
  padding: 2%;
  background: var(--bg-dark-base);
}
.footer-section a{
  text-decoration: none;
  color: var(--bg-black);
}
/* Footer - Hover*/
.footer-section a:hover{
  text-decoration:underline;
}
.footer-section i:hover{
  font-weight: var(--fw-700);
  text-decoration:underline;
}
.footer-section h1:hover{
  text-decoration:underline;
}
/* Footer Content*/
.first-row img{
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
/* Footer - 760 Monitor*/
@media only screen and (max-width:760px){
  .first-row{
      align-items: center;
      justify-content: center;
  }
  .first-row img{
      width: 50%;
      display: block;
      margin: auto;
      margin-bottom: 30px;
  }
}
.second-row a{
  margin-top: 5px;
  display: block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
.third-row a{
  margin-top: 5px;
  display: block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
.fourth-row a{
  margin-top: 5px;
  display: block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
.fifth-row {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--bg-black);
}
.fifthHeading4{
  color: white;
}
.icon-box{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px!important;
  color: white;
}
.ender {
  background-color: var(--bg-dark-base);
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}
/* Footer Content - Hover*/
.second-row a:hover{
  text-decoration: none;
  color: var(--bg-base);
}
.third-row a:hover{
  text-decoration: none;
  color: var(--bg-base);
}
.fourth-row a:hover{
  text-decoration: none;
  color: var(--bg-base);
}
.icon-box i:hover{    
  color: var(--bg-base);
}

/* -------------- */